:root {
  /* color */
  --bluish-gray-10: #f5f7f9;
  --bluish-gray-50: #f2f4f7;
  --bluish-gray-100: #eceef3;
  --bluish-gray-200: #dfe3ec;
  --bluish-gray-300: #ccd3e0;
  --bluish-gray-400: #b2bdd1;
  --bluish-gray-500: #8c9cba;
  --bluish-gray-600: #667ba3;
  --bluish-gray-700: #455573;
  --bluish-gray-800: #262f40;
  --bluish-gray-900: #0f1319;
  --white: #ffffff;
  --gray-10: #f7f7f7;
  --gray-50: #f2f2f2;
  --gray-100: #f0f0f0;
  --gray-200: #e6e6e6;
  --gray-300: #d6d6d6;
  --gray-400: #c2c2c2;
  --gray-500: #a3a3a3;
  --gray-600: #858585;
  --gray-700: #5c5c5c;
  --gray-800: #333333;
  --gray-900: #141414;
  --black: #000000;
  --coz-gold-10: #fffdd0;
  --coz-gold-50: #faf0be;
  --coz-gold-100: #f7e98e;
  --coz-gold-200: #ffdb58;
  --coz-gold-300: #ffcc33;
  --coz-gold-400: #ffcc00;
  --coz-gold-500: #fcc200;
  --coz-gold-600: #da9100;
  --coz-gold-700: #b8860b;
  --coz-gold-800: #664c28;
  --coz-gold-900: #544117;
  --coz-orange-50: #fff2e9;
  --coz-orange-100: #ffebde;
  --coz-orange-200: #ffe1cc;
  --coz-orange-300: #ffcead;
  --coz-orange-400: #ffb685;
  --coz-orange-500: #ff9247;
  --coz-orange-600: #ff6e0a;
  --coz-orange-700: #b84b00;
  --mint-50: #ebfff7;
  --mint-100: #e0fff2;
  --mint-200: #ccffea;
  --mint-300: #adffdd;
  --mint-400: #84ffcb;
  --mint-500: #47ffb2;
  --mint-600: #0aff98;
  --mint-700: #00b86a;
  --mint-800: #00663b;
  --peach-50: #ffeeeb;
  --peach-100: #ffe6e0;
  --peach-200: #ffd5cc;
  --peach-300: #ffbcad;
  --peach-400: #ff9b85;
  --peach-500: #ff6947;
  --peach-600: #ff360a;
  --peach-700: #b82100;
  --blackalpha-10: #00000008;
  --blackalpha-50: #0000000a;
  --blackalpha-100: #0000000f;
  --blackalpha-200: #0000001a;
  --blackalpha-300: #00000029;
  --blackalpha-400: #0000003d;
  --blackalpha-500: #0000005c;
  --blackalpha-600: #0000007a;
  --blackalpha-700: #000000a3;
  --blackalpha-800: #000000cc;
  --blackalpha-900: #000000eb;
  /* boxShadow */
  --15px: 0px 0px 15px 0px #00000026;
  --7px: 0px 0px 7px 0px #00000040;
  --big-box: 0px 3px 6px -4px #0000001f, 0px 6px 16px 0px #00000014,
    0px 9px 28px 8px #0000000d;
}
